.headerContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.header{
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
}

.toggleMenu{
    display:flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.mainMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMobileContainer{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

/*media query*/
@media screen and (max-width: 768px){
    .toggleMenu{
        display: none;
    }
    .mainMenu{
        justify-content: space-between;
        width: 100%;
    }
    .nav{
        display: none;
    }
    .navMobileContainer{
        display: flex;
    }
}

.navItem{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navItem:hover{
    background: var(--highlight-color);
    text-decoration: none;
    background: var(--border-color);
    border-radius: 25px;
    transition: background-color 0.5s;
}

.logo{
    margin-right: 15px;
    padding-top: 5px
}

.containerLogoSvg{
    height: 44px;
    transition:  0.3s ease-in-out;
    margin:1rem;
}

.containerLogoSvg:hover{
    transform: scale(1.1);
}

.logoSvg{
    fill:var(--highlight-color);
    fill-opacity:1;
    stroke-width:0.0857143;
    transition: transform ease .3s;
}
