.callToAction{
    font-size: 16px;
    font-weight: 500;
    color: var(--button-text-color);
    cursor: pointer;
    margin-top: 20px;
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 0px 1.5px var(--button-shadow-color);
    padding: 10px 20px;
}

.callToAction:hover{
    background-color: var(--button-bg-color);
    box-shadow: 1px 1px 0px 1px var(--button-shadow-color);
    opacity: 0.95;
}

.callToActionIcon{
    margin-left: 10px;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popupContent {

    max-width: 500px;
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    position: relative;
}


.closeButton {
    position: absolute;
    top: 0px;
    right: 15px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--text-color);
    padding: 5px 12px;
    line-height: 1;
    border-radius: 50%;
    background: none;
}

.closeButton:hover {
    opacity: 0.7;
}

.closeButtonItemOpen {
    width: 14px;
    height: 1.5px;
    background: black;
    position: absolute;
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.77,0,.175,1);
    transform: translateY(0) rotate(45deg) scaleX(1.1);
}

.closeButtonItemOpen:nth-child(1) {
    transform: translateY(0) rotate(-45deg) scaleX(1.1);
}


@media screen and (max-width: 768px){
    .popupContent{
        max-width: 300px;
    }
}
