.opinion{
        position: relative;
        border-left: 7px solid var(--border-color);
        font-style: italic;
        margin: 45px 30px 5px 0;
        padding: 30px 25px 0px 25px;
        background-color: transparent;
        width: calc(100% - 90px);
}

.opinion:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 10px;
    width: 30px;
    height: 20px;
    background-image: url('https://swcrafters.fra1.cdn.digitaloceanspaces.com/Blog/quotes-mark.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

/*.opinion:before {*/
/*    content: "“";*/
/*    color: var(--border-color);*/
/*    font-size: 96px;*/
/*    line-height: 0;*/
/*    position: relative;*/
/*    left: -25px;*/
/*    top: 38px;*/
/*    font-style: normal;*/
/*}*/

.opinion > p:first-child {
    margin-top: 0px;
}

.opinion > p:last-child {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .opinion{
        margin: 45px 0 5px 0;
        padding: 30px 25px 0px 25px;
        width: calc(100% - 40px);
    }

}
