.opinion{
        border-left: 7px solid var(--border-color);
        font-style: italic;
        margin: 45px 30px 5px 0;
        padding: 0 30px 0px 30px;
        background-color: transparent;
        width: calc(100% - 90px);
}

.opinion:before {
    content: "“";
    color: var(--border-color);
    font-size: 96px;
    line-height: 0;
    position: relative;
    left: -25px;
    top: 38px;
    font-style: normal;
}

.opinion > p:first-child {
    margin-top: 0px;
}

.opinion > p:last-child {
    margin-bottom: 10px;
}
