.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width);
}

.title{
    /*width: 85%;*/
    margin: 25px auto 0 auto;
    /*text-align: center;*/
}
.content{
    display: flex;
    align-items: center;
}

.profile{
    margin: 5px;
    margin-right: 10px;
}

.profilePhone{
    display: none;
}


@media (max-width: 700px){
    .container{
        margin-top: 0px;
        padding: 15px 20px 0 20px;
    }
    .title {
        /*width: 85%;*/
        text-align: center;
        margin: 0 auto;
    }
    .profile {
        display: none;
    }
    .profilePhone{
        display: flex;
        align-self: center;
        margin: 15px auto 5px auto;
        height: 150px;
        width: 150px;
    }
}

.textContainer{
    margin-top: 20px;
    margin-right: 0px;
}

.text{
    font-size: 0.95rem;
    line-height: 1.4rem;
    margin-top: -7px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0px 10px 15px 0px;
}

.formInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: var(--border-color) 1px solid;
    border-radius: 5px;
}

.email{
    width: calc(100% - 150px);
}

.actionButton{
    width: 150px;
    margin: 2px;
    border-radius: 5px 5px;
}

.privacyContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.privacyMessage{
    font-size: 0.8rem;
}

.checkbox{
    margin: -1px 10px 0px 0px;
    height: 16px;
}

.errorMessage{
    color: red;
    font-size: 0.8rem;
    margin: 0;
}

