.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 355px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
    height: 200px;
}

.container input[type="email"]{
    height: 42px;
    border-radius: 5px 0 0 5px !important;
    font-family: 'Raleway', sans-serif !important;
}

.container input[type="submit"]{
    height: 42px;
    border-radius: 0 5px 5px 0 !important;
    font-family: 'Raleway', sans-serif !important;
    background-color: #f9a825;
    color: white;
    border: none;
    cursor: pointer;
}
