.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 25px 40px 0 40px;
    border-radius: 2px;
    max-width: var(--max-width);
}

@media (max-width: 800px){
    .container{
        width: 95%;
    }
}

.content{
    display: flex;
    align-items: center;
}

.profile{
    margin-top: 60px;
}

.profilePhone{
    display: none;
}

@media (max-width: 1100px){
    .picture {
        margin-top: 0px;
    }
}

@media (max-width: 560px){
    .container{
        margin-top: 0px;
        padding: 15px 20px 0 20px;
    }
    .profile {
        display: none;
    }
    .profilePhone{
        display: flex;
        align-self: center;
        margin: 5px auto;
    }
}

.text{
    margin-top: 5px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 15px 0;
}

.formInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.email{
    width: 60%;
}

.actionButton{
    width: 45%;
}

.containerGoToEmail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 0;
}

.linkGoToEmail {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    height: auto;
    padding: 10px 30px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin:5px
}

.linkGoToEmail:hover{
    opacity: 0.8;
    text-decoration: none;
}
