.container{
    bottom: 0;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    margin: 5px 10px;
    padding: 60px 0;
    margin-top:auto;
}

.legal{
    color: var(--text-secondary-color);
    text-decoration: none;
}

.cookies{
    font-size: 0.7rem;
    color: var(--text-secondary-color);
    opacity: 0.9;
    text-decoration: none;
    text-align: center;
    justify-self: center;
}
