.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 10px 20px;
}

.courseByEmailContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    background: var(--bg-code-color);
    position: relative;
    margin: -30px 0 30px;
    border-radius: 25px;

}

.courseByEmailLabel{
    font-size: 0.8rem;
    color: var(--highlight-color);
    text-align: center;
}

.courseByEmailIcon{
    margin-right: 5px;

}

.subject{
    position: relative;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    max-width: 640px;
    margin: 10px 0 0;
    letter-spacing: normal;
    text-transform: uppercase;
    /*color: #777;*/
}

.title{
    font-size: 38px;
    margin:20px 0 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    align-self: center;
    font-style: normal;
}

.text{
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}

.callToAction{
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: var(--button-text-color);
    cursor: pointer;
    margin-top: 20px;
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 0px 1.5px var(--button-shadow-color);
    padding: 10px 20px;
}

.callToAction:hover{
    background-color: var(--button-bg-color);
    box-shadow: 1px 1px 0px 1px var(--button-shadow-color);
    opacity: 0.95;
}

.callToActionIcon{
    margin-left: 10px;
}

.bulletsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    padding: 0;
}

@media screen and (max-width: 768px){
    .container{
        padding: 0 10px;
        margin-top: 0px;
    }
    .title{
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
    .subtitle, .subtitleWithIcon{
        font-size: 1.8rem;
    }
    .subject{
        margin-top: 0;
    }
    .subtitleWithIcon::before {
        content: "";
        position: absolute;
        top: 0px;
        left: -20px;
        width: 90px;
        height: 60px;
    }

}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: -40px;
}
.containerLogoSvg{
    height: 50px;
    transition:  0.3s ease-in-out;
    margin:1rem;
}

.containerLogoSvg:hover{
    transform: scale(1.1);
}

.logoSvg{
    fill:var(--highlight-color);
    fill-opacity:1;
    stroke-width:0.0857143;
    transition: transform ease .3s;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    line-height: 1.5em;

}

