.title{
    text-transform: capitalize;
}

.pagination{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.link{
    margin-right: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--link-color);
    text-decoration: none;
}

.link:hover{
    text-decoration: none;
}

.iconPrevious{
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin: 0 4px;
    padding: 4px;
    transform: rotate(135deg);
}

.iconNext{
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin: 0 4px;
    padding: 4px;
    transform: rotate(-45deg);
}
