.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.title{
    font-size: 1.17em;
    font-weight: bold;
    letter-spacing: 0;
}

.link{
}

.coverBook{
    margin-left: -15px;
    transition:  0.3s ease-in-out;
}

.coverBook:hover{
    transform: scale(1.05);
}
