.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title{

}
.link{
}

.coverBook{

}

.coverCourse{
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition:  0.3s ease-in-out;
}

.coverCourse:hover{
    transform: scale(1.05);
}
